/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    /* font-family: "Ubuntu", sans-serif !important; */
    /* font-family: "Jost", sans-serif; */
    /* font-family: "Cascadia Code", sans-serif; */
    font-family: "Sansation", sans-serif;
}

.glimmer {
    background: linear-gradient(120deg, #ffffff 0%, #dbeafe 30%, #ffffff 60%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shimmer 2.5s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}

@keyframes bounceRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-bounce-right {
    animation: bounceRight 0.8s ease-in-out infinite;
}
